* {
    margin: auto;
    padding: 0;
}


html {
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: #202124;
    background-repeat: no-repeat;
    background: linear-gradient(#0c0c0c, #202124);
}


body{
    font-family: Arial, sans-serif;
    /* background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0)); */
}

header nav{
    position: fixed;
    overflow: hidden;
    float: right;
    margin: 10px 0 10px 10px;
    top: 0; /* Position the navbar at the top of the page */
    width: 97%; /* Full width */   
}

nav a {
    float: right;
    overflow: hidden;
    display: block;
    text-align: right;
    padding: 10px 10px;
    text-decoration: none;
}

.text{
    color: white;
    text-decoration: none;
}

.icon{
    color: white;
    font-size: 20px;
}

.icons{
    margin-right: 10px;
}

main {
    text-align: center;
}
  

.logo{
    display: flex;
    align-items: flex-end;
    justify-content: center; 
    margin-top: 200px;
}

.search{
    margin-top: 20px;
}



.img{
    width: 16px;
    height: 16px;
}
.input:focus{
    outline: none;
    border: none;
    background-color: rgb(36, 36, 36);
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
    background-color: linear-gradient(#0c0c0c, rgb(12, 13, 14));
    border-radius: 15px;
    width: 450px;
    height: 33px;
    border: 1px solid gray;
    font-family: Arial, sans-serif;
    cursor: text;
}
  
.input-container > img {
    position: absolute;
    margin-left: 7px;
    top: 8px;
    left: 2px;
    bottom: 10px;
    right: 85%;
}
  
input {
    width: 100%;
    height: 100%;
    padding-left: 40px;
    color: white;
    background-color: rgb(26, 27, 29);
    outline: none;
    border: none;
    border-radius: 15px;
}

.input-container:focus, .input-container:hover{
    border: 1px solid rgb(36, 36, 36);
    background-color: rgb(36, 36, 36);
    border-radius: 15px;
}

input:hover{
    border: 1px solid rgb(36, 36, 36);
    background-color: rgb(36, 36, 36);
    border-radius: 15px;
}

.input-container:active{
    border: none;
}

input::after{
    border: 1px solid rgb(36, 36, 36);
}