@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@100;300;400;500&display=swap');

* {
    margin: auto;
    padding: 0;
}


html {
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: #202124;
    background-repeat: no-repeat;
    background: linear-gradient(#0c0c0c, #202124);
}


body{
    font-family: Arial, sans-serif;
    /* background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0)); */
}

header nav{
    position: fixed;
    overflow: hidden;
    float: right;
    margin: 10px 0 10px 10px;
    top: 0; /* Position the navbar at the top of the page */
    width: 97%; /* Full width */   
}

nav a {
    float: right;
    overflow: hidden;
    display: block;
    text-align: right;
    padding: 10px 10px;
    text-decoration: none;
}

.text{
    color: white;
    text-decoration: none;
}

.icon{
    color: white;
    font-size: 20px;
}

.icons{
    margin-right: 10px;
}

main {
    text-align: center;
}
  

.logo{
    display: flex;
    align-items: flex-end;
    justify-content: center; 
    margin-top: 200px;
}

.search{
    margin-top: 20px;
}



.img{
    width: 16px;
    height: 16px;
    stroke: #6d7175;
}
.input:focus{
    outline: none;
    border: none;
    background-color: rgb(36, 36, 36);
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
    background-color: linear-gradient(#0c0c0c, rgb(12, 13, 14));
    border-radius: 23px;
    width: 600px;
    height: 43px;
    border: 1px solid rgb(109, 113, 117);
    font-family: "Roboto", sans-serif;
    cursor: text;
}
  
.input-container > img {
    position: absolute;
    margin-left: 7px;
    top: 8px;
    left: 9px;
    bottom: 10px;
    right: 85%;
}
  
input {
    width: 100%;
    height: 100%;
    padding-left: 45px;
    color: white;
    background-color: rgb(26, 27, 29);
    outline: none;
    border: none;
    border-radius: 23px;
}

.input-container:focus, .input-container:hover{
    border: 1px solid rgb(36, 36, 36);
    background-color: rgb(36, 36, 36);
    border-radius: 23px;
    box-shadow: 5px 10px 10px #141416, -5px -10px 10px #141416;
}

input:hover{
    border: 1px solid rgb(36, 36, 36);
    background-color: rgb(36, 36, 36);
    border-radius: 23px;
}

.input-container:active{
    border: none;
}

input::after{
    border: 1px solid rgb(36, 36, 36);
}

.footer2{
    background-color: rgb(23,23,23);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 15px;
    justify-content: space-between;
    float: left;
    margin-top: 20px 15px;
    border-top: 1px solid rgb(109, 113, 117);
    display: block;
}

.inside-footer{
    justify-content: space-between;
    float: right;
    padding: 0 15px;
}

.footer1{
    background-color: rgb(23,23,23);
    position: fixed;
    left: 0;
    bottom: 6%;
    width: 100%;
    text-align: left; 
    padding: 15px 10px 15px 10px;
    border-bottom: 1px solid rgb(109, 113, 117);
}

.container{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    color: rgb(154, 160, 166);
}

/* hr.border {
    border-bottom: 1px solid rgb(154, 160, 166);
    position: fixed;
    
    bottom: 5%;
    width: 100%;
} */

.text-footer{
    color: rgb(154, 160, 166);
    text-decoration: none;
    padding: 15px 20px;
    font-size: normal;
    
    font-family: "Roboto", sans-serif;
}

.buttons{
    width: 320px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    margin: 10px;
}

.button{
    padding: 10px;
    margin: 10px;
    width: 400px;
    height: 40px;
    background-color: #2c2d31;
    color: #f7f7f7;
    border: 1px solid #2c2d31;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover{
    border: 1px solid rgb(109, 113, 117);
}

/* responsive */
@media screen and (max-width: 793px){
    
}